p {
    margin: 0;
    padding: 0;
}

body {
	background: #E1EBDA;
	color: rgb(41, 48, 51);
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.box__inner {
	background: rgb(162, 229, 121);
	padding: 50px;
    text-align: center;
}

.box__inner p.top {
    font-size: 28px;
    margin-bottom: 22px;
}

.box__inner a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

.box__inner a:hover {
	text-decoration: underline;
}
